@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
/* font-family: 'Pacifico', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
/* font-family: 'Nunito', sans-serif; */

:root {
  --color-background: #f9fafb;
  --color-accent: #d4d4d4;
  --color-primary: #d71741;
  --color-dark: #333;
  --color-focus: #47bad4;
  --color-valid: #5cb85c;
  --color-invalid: #d71741;
  --max-content-width: 700px;
  --splash-width: 35vw;
  --symbol-valid: "✔";
  --symbol-invalid: "✖";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  overflow-y: auto;
}

main {
  display: grid;
  grid-template-columns: 4fr 6fr;
  width: 100vw;
  background-color: var(--color-background);
  font-family: "Nunito", sans-serif;
}

/* SPLASH SCREEN STYLES */

.splash-wrapper {
  position: sticky;
  top: 0;
  height: 100vh;
  width: var(--splash-width);
  text-align: center;
  color: white;
  background-color: var(--color-dark);
  background-image: url("images/background-splash-1.jpg");
  background-size: cover;
  background-position: left bottom;
}

.brand-wrapper {
  display: flex;
  margin-top: 200px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.brand-wrapper img {
  height: 6rem;
}

.brand-name {
  margin: 0;
  font-family: "Pacifico", cursive;
  font-size: 4rem;
}

.credits {
  position: absolute;
  margin: auto;
  padding: 5px;
  width: 100%;
  bottom: 0.5rem;
  font-size: 0.8rem;
}

.credits :is(a, a:visited, a:focus, a:hover) {
  color: white;
  text-decoration: none;
}

/* CONTENT STYLES */

.content-wrapper {
  padding: 75px 50px;
  z-index: 1;
  width: calc(100vw - var(--splash-width));
  border-left: 1px solid var(--color-accent);
  color: var(--color-dark);
  font-size: 1.3rem;
  font-weight: bold;
}

.content-wrapper p {
  max-width: var(--max-content-width);
  margin-bottom: 20px;
  line-height: 1.6rem;
}

.content-wrapper p.disclaimer {
  font-style: italic;
  font-weight: 300;
}

/* FORM STYLES */

form {
  margin: 50px -50px 50px;
  padding: 50px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

form h2 {
  font-size: 1.6rem;
}

form p {
  font-size: 1rem;
  margin: 20px 0;
}

.form-body {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 1.5rem;
  max-width: var(--max-content-width);
}

.form-entry {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 200px;
  max-width: 80%;
  text-transform: uppercase;
}

label {
  margin-bottom: 0.2rem;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

.validation-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
}

/* FORM INPUT STYLES */

input {
  appearance: none;
  padding: 6px;
  width: 100%;
  min-width: 200px;
  outline: 1px solid var(--color-accent);
  border: none;
  border-radius: 4px;
  font-size: 1rem;
}

input::placeholder {
  opacity: 0.2;
}

input:focus,
input:active {
  outline: 2px solid var(--color-focus);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* INPUT VALIDATION STYLES */
/* span::before is used for validation symbol */
/* span::after is used for validation message */

/* VALIDATION BORDER */
input.interacted:not(.invalid):valid {
  outline: 2px solid var(--color-valid);
}
input.interacted:invalid,
input.interacted.invalid {
  outline: 2px solid var(--color-invalid);
}

/* VALIDATION SYMBOLS */
input.interacted + span::before {
  position: absolute;
  margin-right: 0.3rem;
  right: 0;
  top: 0.4ch;
  background-color: white;
}
input.interacted:not(.invalid):valid + span::before {
  content: var(--symbol-valid);
  color: var(--color-valid);
}
input.interacted:invalid + span::before,
input.interacted.invalid + span::before {
  content: var(--symbol-invalid);
  color: var(--color-invalid);
}

/* VALIDATION MESSAGE */
input.interacted:invalid + span::after,
input.interacted.invalid + span::after {
  position: absolute;
  left: 0;
  bottom: -20px;
  font-size: 0.7rem;
  text-transform: none;
  color: var(--color-invalid);
}
input.interacted:invalid + span.message-email::after {
  content: "* Provide a valid email address";
}
input.interacted:invalid + span.message-phone::after {
  content: "* Provide a valid 10-digit phone number";
}
input.interacted.invalid + span.message-confirm::after {
  content: "* Passwords must match";
}

/* PASSWORD VALIDATION RULE LIST STYLES */
.password-rules {
  /* display: none; */
  padding-top: 1ch;
  text-transform: none;
}
input.interacted ~ .password-rules {
  display: initial;
}
input.interacted.valid ~ .password-rules {
  display: none;
}

.password-rules p {
  margin: 0;
  padding: 0;
  font-size: 0.7rem;
  line-height: 1rem;
}
.password-rules li {
  font-size: 0.7rem;
  list-style: none;
}
.password-rules li.valid {
  color: var(--color-valid);
}

/* PASSWORD VALIDATION RULE LIST VALIDATION SYMBOLS */
/*  */
.password-rules li::before {
  padding-right: 0.5ch;
  content: var(--symbol-valid);
  color: white;
}
.password-rules li.valid::before {
  content: var(--symbol-valid);
  color: var(--color-valid);
}
input.invalid + .password-rules li:not(.valid),
input.invalid + .password-rules li:not(.valid):before {
  content: var(--symbol-invalid);
  color: var(--color-invalid);
}

/* CREATE ACCOUNT & LOGIN STYLES */

button {
  margin-bottom: 25px;
  padding: 1rem 3rem;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: var(--color-primary);
  color: white;
  font-size: 1.2rem;
}

button:hover,
a.log-in:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

p.log-in {
  font-size: 1.2rem;
}

a.log-in {
  color: var(--color-primary);
  font-weight: bold;
  text-decoration: none;
}
