@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* font-family: 'Roboto', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
/* font-family: 'Pacifico', cursive; */

:root {
  --color-background: #f9fafb;
  --color-accent: #d4d4d4;
  --color-primary: #d71741;
  --color-dark: #333;
  --color-focus: #47bad4;
  --color-invalid: #d71741;
  --color-valid: #5cb85c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: grid;
  width: 100vw;
  grid-template-columns: 4fr 6fr;
  background-color: var(--color-background);
  font-family: "Roboto", sans-serif;
}

.splash-wrapper {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 40vw;
  text-align: center;
  color: white;
  background-color: var(--color-dark);
  background-image: url("images/background-splash-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.brand-name {
  margin: 0;
  font-family: "Pacifico", cursive;
  font-size: 4rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

.logo img {
  height: 70%;
}

.text-wrapper {
  width: 100%;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.5);
}

.credits {
  position: absolute;
  padding: 5px;
  bottom: 0.5rem;
  font-size: 0.8rem;
}

.credits :is(a, a:visited, a:focus, a:hover) {
  color: white;
  text-decoration: none;
}

.content-wrapper {
  width: 60vw;
  padding: 75px 50px;
  border-left: 1px solid var(--color-accent);
  color: var(--color-dark);
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  width: 60vw;
}

.content-wrapper .tagline {
  margin-bottom: 1.6rem;
}

.content-wrapper p {
  max-width: 700px;
  margin-bottom: 20px;
  line-height: 1.6rem;
}

.content-wrapper p.disclaimer {
  font-style: italic;
  font-weight: 300;
}

form {
  margin: 50px -50px 50px;
  padding: 50px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.form-body {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0px;
  column-gap: 50px;
  row-gap: 1rem;
}

.form-entry {
  position: relative;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

/* .form-entry:nth-child(even) {
  min-width: 50%;
} */

label {
  margin-bottom: 0.2rem;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

input {
  appearance: none;
  padding: 6px;
  outline: 1px solid var(--color-accent);
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  width: 300px;
}

input::placeholder {
  opacity: 0.2;
}

input:focus,
input:active {
  outline: 2px solid var(--color-focus);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

input.interacted:not(.invalid):valid {
  outline: 2px solid var(--color-valid);
}
input.interacted:not(.invalid):valid + span::before {
  position: absolute;
  margin-right: 5px;
  bottom: 0;
  right: 0;
  content: "✓";
  color: var(--color-valid);
  background-color: white;
}

input.interacted:invalid,
input.interacted.invalid {
  outline: 2px solid var(--color-invalid);
}
input.interacted:invalid + span::before,
input.interacted.invalid + span::before {
  position: absolute;
  margin-right: 5px;
  bottom: 0;
  right: 0;
  content: "✖";
  color: var(--color-invalid);
  background-color: white;
}

button {
  margin-bottom: 25px;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  background-color: var(--color-primary);
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

button:hover,
a.log-in:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

p.log-in {
  font-size: 1.2rem;
}

a.log-in {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: bold;
}
